name: uv-based tests
on: [push]

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  uv-tests:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: "Install uv"
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: "Install the project"
        run: uv sync --all-extras --dev

      - name: "Run tests"
        # For example, using `pytest`
        run: uv run pytest tests
